@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap");

:root {
  --bg-color: #232931;
  --color-1: #393e46;
  --color-2: #4ecca3;
  --color-3: #eeeeee;
  --green: #05c46b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: "Comic Neue", cursive;
  background-color: var(--bg-color);
}

nav {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.brand {
  display: flex;
  padding: 0.5rem 0.5rem;

  justify-content: center;
  align-items: center;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.brand-name {
  background: var(--color-2);
  font-weight: 700;
  color: var(--color-3);
  font-size: 2.1rem;
  margin-left: 1rem;
  padding: 0 1rem;
  border-radius: 0.3rem;
}

.main {
  padding: 2rem 1rem;
}

.input-section {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;

  grid-column-gap: 2rem;
}

.movie-text {
  font-size: 1.5rem;
  align-self: center;
}

.movie-text h3 {
  color: var(--color-2);
  font-weight: 700;
}

.movie-1,
.movie-2 {
  position: relative;
}

.movie-1__text,
.movie-2__text {
  font-family: inherit;
  font-weight: 700;
  appearance: none;
  width: 100%;
  align-self: center;
  background: #313a45;
  color: var(--color-3);
  border: 0.2rem solid var(--color-3);
  font-size: 1.8rem;
  border-radius: 5px;
  padding: 0.5rem 0.5rem;
  transition: all 0.4s;
}

.drop-down {
  display: none;
  background: var(--color-1);
  width: 100%;
  position: absolute;
  z-index: 10;
}

.dropdown-item {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-gap: 1rem;

  margin: 0.5rem 1rem;

  border: 2px solid var(--color-2);
  border-radius: 5px;
  padding: 0.7rem 0.6rem;
}

.dropdown-item:hover {
  background: #31373e;
}

.is-dropdown {
  display: grid;
}

.drop-image img {
  width: 100%;
  border-radius: 5px;
}

.drop-title {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 700;
}

.movie-1__text:placeholder,
.movie-2__text::placeholder {
  color: var(--color-3);
}

.movie-1__text:focus,
.movie-2__text:focus {
  border-color: var(--color-2);
}

.fade {
  opacity: 0;
}

.movies-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.movie-detail-1 {
  transition: opacity 0.5s ease;
}

.main-content {
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-column-gap: 1rem;
  padding: 1rem 0;
}

#summary-1 {
  display: grid;
  grid-template-rows: min-content 1fr;
  padding: 1rem 0;
}

#summary-1 img {
  width: 100%;
  border-radius: 7px;
}

#summary-1 h1,
#summary-1 p {
  color: #fff;
}

#summary-1 p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

#summary-1 h4 {
  font-size: 1.6rem;
  color: var(--color-2);
  font-weight: 700;
  margin-top: 0.2rem;
}

.statistics article {
  background: var(--green);
  padding: 0.8rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

article .title {
  font-size: 2.5rem !important;
  font-weight: 700;
}

.subtitle {
  color: var(--bg-color) !important;
  font-size: 1.7rem;
  font-weight: 700;
}
